@import '../../../../assets/scss/common';

.login {
  display: flex;
  align-items: center;
}

.login__text {
  color: $text-color-header;
  font-size: 1.2rem;
}

.login__avatar {
  background: center no-repeat url('../../../../assets/icons/user.png');
  width: 2.4rem;
  height: 2.4rem;
  border-radius: .5rem;
  margin: 0 1rem;
}
