$text-color-light: #FFFFFF;
$text-color-middle: #929292;
$text-color-dark: #000000;
$text-color-header: #4F4F4F;

$background-color-light: #F2F2F2;
$background-color-middle: #E5E5E5;
$background-color-dark: #C4C4C4;
$background-color-accent: #2F80ED;