@import './fonts.scss';
@import './colors.scss';
@import './buttons.scss';
@import './input.scss';

body {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: $text-color-dark;
  padding: 0;
  margin: 0;
}

a {
  color: #2F80ED;
}