@mixin input__common {
  border: 0;
  background-color: #fff;
  font-size: 1.2rem;
  padding: 0 .5rem;
}

@mixin input__auth {
  border: 0;
  background-color: #E0E0E0;
  font-size: 1.2rem;
  padding: 0 .5rem;
  height: 2.8rem;
  &:focus {
    outline: none;
  }
}
