<div class="card">
  <div class="preview"></div>
  <div class="statistic">
    <div class="statistic__item">
      <img src="../../../assets/icons/viewed.png" alt="views">
      <span>1000</span>
    </div>
    <div class="statistic__item">
      <img src="../../../assets/icons/liked.png" alt="liked">
      <span>680</span>
    </div>
    <div class="statistic__item">
      <img src="../../../assets/icons/dislike.png" alt="dislike">
      <span>320</span>
    </div>
    <div class="statistic__item">
      <img src="../../../assets/icons/coments.png" alt="coments">
      <span>250</span>
    </div>
  </div>
  <div class="title">Title</div>
  <button>more...</button>
  <div class="indicator"></div>
</div>
