<div class="card">
  <img class="preview" [src]="item.snippet.thumbnails['medium'].url" [alt]="item.snippet.title">
  <div class="statistic">
    <div class="statistic__item">
      <img src="../../../assets/icons/viewed.png" alt="views">
      <span>{{item.statistics.viewCount}}</span>
    </div>
    <div class="statistic__item">
      <img src="../../../assets/icons/liked.png" alt="liked">
      <span>{{item.statistics.likeCount}}</span>
    </div>
    <div class="statistic__item">
      <img src="../../../assets/icons/dislike.png" alt="dislike">
      <span>{{item.statistics.dislikeCount}}</span>
    </div>
    <div class="statistic__item">
      <img src="../../../assets/icons/comments.png" alt="comments">
      <span>{{item.statistics.commentCount}}</span>
    </div>
  </div>
  <div class="title">{{item.snippet.title}}</div>
  <button>more...</button>
  <div class="indicator" [style]="{background: item.snippet.publishedAt | dateIndicator}"></div>
</div>
