<div class="signin">
  <h2>Login</h2>
  <form [formGroup]="form" (ngSubmit)="onSignIn()">
    <div class="form-control">
      <label for="login">
        Login
        <span *ngIf="form.get('login')?.errors?.['required']">Please enter a login email</span>
        <span *ngIf="form.get('login')?.errors?.['email']">The login email is invalid</span>
      </label>
      <input type="text" name="login" id="login" formControlName="login">
      <div
        class="validator"
        *ngIf="form.get('login')?.touched"
        [style]="{background: form.get('login')?.valid | formValidator}"
      ></div>
    </div>
    <div class="form-control">
      <label for="password">
        Password
        <span *ngIf="form.get('password')?.errors?.['required']">Please enter a password</span>
        <span
          *ngIf="form.get('password')?.errors?.['pattern']">Your password isn't strong enough, {{password.value | passwordChecker}}</span>
      </label>
      <input #password type="password" name="password" id="password" formControlName="password">
      <div
        class="validator"
        *ngIf="form.get('password')?.touched"
        [style]="{background: form.get('password')?.valid | formValidator}"
      ></div>
    </div>
    <div class="auth-mode">
      <a routerLink="/signup">Registration</a>
      <button [disabled]="form.invalid" type="submit">Login</button>
    </div>
  </form>
</div>
