@import '../../../../assets/scss/common';

.signup {
  width: 35rem;
  background: $background-color-form;
  border-radius: .5rem;
  padding: 2rem 2.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: .2rem .2rem .5rem $background-color-dark;
}

.form-control {
  display: flex;
  flex-direction: column;

  & label {
    color: $text-color-label;
    font-size: 1rem;
    padding: .4rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: .8rem;
      font-style: italic;
      color: $text-color-error;
    }
  }

  & input {
    @include input__auth;
  }
}

.validator {
  border-radius: 0 0 .5rem .5rem;
  width: 100%;
  height: .5rem;
  background: #EB5757;
}

.auth-mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  gap: 1.4rem;
  margin-top: 2.2rem;

  & button {
    @include button;
    width: 12rem;
    height: 3rem;
  }
}
