<div *ngIf="detailsVisibility" class="details">
  <div class="details__control">
    <button (click)="onClose()">&lt;</button>
  </div>
  <div class="details__img">
    <img [alt]="content.snippet.title" [src]="content.snippet.thumbnails['standard'].url">
  </div>
  <div class="details__text">
    <span class="title"><h2>{{content.snippet.title}}</h2></span>
    <span class="date">{{content.snippet.publishedAt | date:'fullDate'}}</span>
    <div class="description">
      <h3>Description</h3>
      <span>Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="statistic">
      <div class="statistic__item">
        <img alt="views" src="../../../../assets/icons/viewed.png">
        <span>{{content.statistics.viewCount}}</span>
      </div>
      <div class="statistic__item">
        <img alt="liked" src="../../../../assets/icons/liked.png">
        <span>{{content.statistics.likeCount}}</span>
      </div>
      <div class="statistic__item">
        <img alt="dislike" src="../../../../assets/icons/dislike.png">
        <span>{{content.statistics.dislikeCount}}</span>
      </div>
      <div class="statistic__item">
        <img alt="comments" src="../../../../assets/icons/comments.png">
        <span>{{content.statistics.commentCount}}</span>
      </div>
    </div>
    <div [style]="{background: content.snippet.publishedAt | dateIndicator}" class="indicator"></div>
  </div>
</div>
