<div class="details">
  <div class="details__control">
    <button>&lt;</button>
  </div>
  <div class="details__img">
    <img src="../../../../assets/images/video.png" alt="Image">
  </div>
  <div class="details__text">
    <span class="title"><h2>Title</h2></span>
    <span class="date">2023-01-01</span>
    <div class="description">
      <h3>Description</h3>
      <span>Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="statistic">
      <div class="statistic__item">
        <img alt="views" src="../../../../assets/icons/viewed.png">
        <span>1</span>
      </div>
      <div class="statistic__item">
        <img alt="liked" src="../../../../assets/icons/liked.png">
        <span>2</span>
      </div>
      <div class="statistic__item">
        <img alt="dislike" src="../../../../assets/icons/dislike.png">
        <span>3</span>
      </div>
      <div class="statistic__item">
        <img alt="comments" src="../../../../assets/icons/comments.png">
        <span>4</span>
      </div>
    </div>
    <div class="indicator"></div>
  </div>
</div>
